<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>User page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: KnightOne - v4.7.0
  * Template URL: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
          <h1 class="logo me-auto me-lg-0"><a href="index.html">HomeApp</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav id="navbar" class="navbar order-last order-lg-0">

        </li><!-- End Profile Nav -->
            <ul>
              <li class="dropdown"><a href="#"><span>Username</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="#"><i class="bi bi-person">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My Profile</i></a></li>
                  <li><a href="#"><i class="bi bi-question-circle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Need Help?</i></a></li>
                  <li><a href="#"><i class="bi bi-box-arrow-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sign Out</i></a></li>
                </ul>
              </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
        </div>
      </div>
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Volunteers information</li>
        </ol>
        <h8>On this page you can get involved in helping refugees by adding the help that you can provide in the correct section.</h8>

      </div>
    </section><!-- End Breadcrumbs -->


        <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Add services</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAARJJREFUSEvllVERwjAQRLcOQAIKAAWAEsABDgAHOAAngANQgARwALOdHBOSSy9pp1/cT2eSdN9dZret0HNVPeujBDAAcHYNLQC8cprLBYj4xIneAGRBcgEnAMugY66trSlyAJq46JoQC7ADsDW63APgObWaACsAR+sK3D6vitNElQKUiIuoCtEAdArtSOeUFG1LZ9Fh3woBbcVFMIL4AHb8UDq/A5i7YG2c0sGduwAYB2MSMpIg+gCOFh7muxybQloRLOn296k15UIOYNjwWeDUT4XMqevUp1z09l5q8nmYk0gvB0CWZkHNyq0BISSVk04AgfCZSnhngBW8PwIwWDPrPoL9q0v8z7L1PyhkxMd7B3wAWAM0GfafD6AAAAAASUVORK5CYII="/></div>
              <h4><a href="">Shelter</a></h4>
              <p>We provide shelter to those who need it most.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAFRJREFUSEtjZKAxYKSx+QzEWvAfh0MI6ieoAGrwqAUEo3o0iMBBhCsYCIYfviSMnExHLUAPKXDoDK8gwpdaRjMawbw0GkQDH0QEXYBLAbF1MtkWAAC++BQZuFCLQQAAAABJRU5ErkJggg=="/></div>
              <h4><a href="">Health</a></h4>
              <p>We strive to ensure that all people forced to flee have access to life-saving healthcare.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAQ5JREFUSEvd1dE1BUEMxvHf7UAH6IAK6IAWVIAKUAEq0AIdUAEdcDvQASeO2bN3d/ZsxrEe5CUPm+Q/+TLZWVnYVgvX938Bh7hA+Iw94grhN6wm0RZeEb7F3rGL8J3VADc4xQOOk4R7HOEWZ3OAN2xjHy9JwB6eEbnRxWQHJXCNnWTxElY92FCiIs+o1QSsmtsHhN53PxjukB1DPkHMZWPRSouJw86GdLPod/Axm9YW8FW7BjhH6BnX7TpZs5YzCSjQuEWxcBmr5UwCLr/XPnz8LjJWy5kEZApmYkaA37xF3aL2h1y2OHO6uZjuNzPc5P5VbX2Mqrl/DogH4wBPDY9Nkaua2yrDnPaj74sDPgFF/jYZbFXncgAAAABJRU5ErkJggg=="/></i></div>
              <h4><a href="">Transport</a></h4>
              <p>We can find all kinds of transport, provided by people or companies.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAK5JREFUSEvtldENgzAMRB8TdITSTRiFTgajdJR2g24AckSkUMm6mCofReXX5p59Nrij8dM11kcBBmACeqeQJ3AHHl6hCmACV9Gl5dyOApbtRa8QFZcWKQEV3wGU37X7sJtL2XqN3xFImksJyO3Wiqi8pH0ugGr5UDxi0ee3oGYWnkFzQNSicAd/AGorvrboDVyiKk7+Kx+pcvXsbzpXHBhVg4mP+cqpi6bEZPz3AStCtx8ZT/zJdAAAAABJRU5ErkJggg=="/></div>
              <h4><a href="">Jobs</a></h4>
              <p>Connecting refugees, displaced individuals, and asylum seekers with welcoming employers across the world.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAI5JREFUSEvtldEKgCAMReeXRX/enxVGGzY3dlEsg3qT5jntuirR4CsN5pMl2DulN+YrgtwAd4FG6NZ7gMcFWhit5RjRDiLg/BFFkwt1sBHRokgcIRoRb8+sNS/KM7BesFaBsFEBGlFZd7KnEugIoYeDiq6+f4F8QaOJQe9DU4TCrLpK0ANz96I/lGb59wUHtnstGQxrGRkAAAAASUVORK5CYII="/></div>
              <h4><a href="">Education</a></h4>
              <p>More than half of the world’s refugees are under the age of 18. Without access to education, an entire generation's future is at risk.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAYVJREFUSEu1lQ9NA2EMxX9zgANAAaAAcAAKmIOBAnAAKAAUAAoABRsOmILhAPJIe+l9+/4l5JpctuTavva1fTdjYptNnJ8egDlwDBzao5pW9rwAr7UiawBnwC2w1+jyC7gCBLZlJYA7YNFB3xrYNT/FCGhkOYDe5J9G2Q1wbVnvgcuIkAKIlufOypXIadGcHizuPNKVAohPb7mEU6JVgJqZcux7cHSOVZSSOy2l917g0EUEeAQugA9byzSJBhppyYF4kU+A/o/uQLt9YO2dBE5z3ZY6UNyb3chRCvBjUd5VSlnPUe4Am5gnBqUA8osg/waIFGlYbg6c0pK7YKdoWIbckHWNOrYWgN6rqD+uzXxVs0P2IxvtcUJTbrhepPhfmnZl11TBvsdpF7Ub+bbL1a860DoPAlmTilPgPZTcc4hyr0qFHKLYqSIJWM885NMUO08UQUSbFFObIY5LtpVcjq0PjoBa4leVkJ7j0Xbp0SdTUiJTN1pRyXX2S+Zt9gBUWGm/mhzgFzWDVxnlcFgNAAAAAElFTkSuQmCC"/></div>
              <h4><a href="">Others</a></h4>
              <p>People are offering different types of help: food, clothes, devices, services.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>HomeApp</h3>
      <p>"You are not a refugee, we share the same planet."</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Army of Three</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>
